DIPALMAFRANCESCOCLIENT/xml-resources/web-service-references/CanzoneEJB/wsdl/localhost_8080/CanzoneWS/CanzoneEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="CanzoneWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/CanzoneWS/CanzoneEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="addCanzone">
<part name="parameters" element="tns:addCanzone"/>
</message>
<message name="addCanzoneResponse">
<part name="parameters" element="tns:addCanzoneResponse"/>
</message>
<message name="printByCat">
<part name="parameters" element="tns:printByCat"/>
</message>
<message name="printByCatResponse">
<part name="parameters" element="tns:printByCatResponse"/>
</message>
<message name="printByVotes">
<part name="parameters" element="tns:printByVotes"/>
</message>
<message name="printByVotesResponse">
<part name="parameters" element="tns:printByVotesResponse"/>
</message>
<message name="updateCanzone">
<part name="parameters" element="tns:updateCanzone"/>
</message>
<message name="updateCanzoneResponse">
<part name="parameters" element="tns:updateCanzoneResponse"/>
</message>
<message name="printById">
<part name="parameters" element="tns:printById"/>
</message>
<message name="printByIdResponse">
<part name="parameters" element="tns:printByIdResponse"/>
</message>
<message name="removeCanzone">
<part name="parameters" element="tns:removeCanzone"/>
</message>
<message name="removeCanzoneResponse">
<part name="parameters" element="tns:removeCanzoneResponse"/>
</message>
<message name="printAll">
<part name="parameters" element="tns:printAll"/>
</message>
<message name="printAllResponse">
<part name="parameters" element="tns:printAllResponse"/>
</message>
<portType name="CanzoneEJB">
<operation name="addCanzone">
<input wsam:Action="http://ejb/CanzoneEJB/addCanzoneRequest" message="tns:addCanzone"/>
<output wsam:Action="http://ejb/CanzoneEJB/addCanzoneResponse" message="tns:addCanzoneResponse"/>
</operation>
<operation name="printByCat">
<input wsam:Action="http://ejb/CanzoneEJB/printByCatRequest" message="tns:printByCat"/>
<output wsam:Action="http://ejb/CanzoneEJB/printByCatResponse" message="tns:printByCatResponse"/>
</operation>
<operation name="printByVotes">
<input wsam:Action="http://ejb/CanzoneEJB/printByVotesRequest" message="tns:printByVotes"/>
<output wsam:Action="http://ejb/CanzoneEJB/printByVotesResponse" message="tns:printByVotesResponse"/>
</operation>
<operation name="updateCanzone">
<input wsam:Action="http://ejb/CanzoneEJB/updateCanzoneRequest" message="tns:updateCanzone"/>
<output wsam:Action="http://ejb/CanzoneEJB/updateCanzoneResponse" message="tns:updateCanzoneResponse"/>
</operation>
<operation name="printById">
<input wsam:Action="http://ejb/CanzoneEJB/printByIdRequest" message="tns:printById"/>
<output wsam:Action="http://ejb/CanzoneEJB/printByIdResponse" message="tns:printByIdResponse"/>
</operation>
<operation name="removeCanzone">
<input wsam:Action="http://ejb/CanzoneEJB/removeCanzoneRequest" message="tns:removeCanzone"/>
<output wsam:Action="http://ejb/CanzoneEJB/removeCanzoneResponse" message="tns:removeCanzoneResponse"/>
</operation>
<operation name="printAll">
<input wsam:Action="http://ejb/CanzoneEJB/printAllRequest" message="tns:printAll"/>
<output wsam:Action="http://ejb/CanzoneEJB/printAllResponse" message="tns:printAllResponse"/>
</operation>
</portType>
<binding name="CanzoneEJBPortBinding" type="tns:CanzoneEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printByCat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printByVotes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CanzoneWS">
<port name="CanzoneEJBPort" binding="tns:CanzoneEJBPortBinding">
<soap:address location="http://localhost:8080/CanzoneWS/CanzoneEJB"/>
</port>
</service>
</definitions>