DIPALMAFRANCESCOCLIENT/xml-resources/web-service-references/CanzoneEJB/wsdl/localhost_8080/CanzoneWS/CanzoneEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="addCanzone" type="tns:addCanzone"/>

<xs:element name="addCanzoneResponse" type="tns:addCanzoneResponse"/>

<xs:element name="printAll" type="tns:printAll"/>

<xs:element name="printAllResponse" type="tns:printAllResponse"/>

<xs:element name="printByCat" type="tns:printByCat"/>

<xs:element name="printByCatResponse" type="tns:printByCatResponse"/>

<xs:element name="printById" type="tns:printById"/>

<xs:element name="printByIdResponse" type="tns:printByIdResponse"/>

<xs:element name="printByVotes" type="tns:printByVotes"/>

<xs:element name="printByVotesResponse" type="tns:printByVotesResponse"/>

<xs:element name="removeCanzone" type="tns:removeCanzone"/>

<xs:element name="removeCanzoneResponse" type="tns:removeCanzoneResponse"/>

<xs:element name="updateCanzone" type="tns:updateCanzone"/>

<xs:element name="updateCanzoneResponse" type="tns:updateCanzoneResponse"/>

<xs:complexType name="printById">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="printByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:canzone" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="canzone">
<xs:sequence>
<xs:element name="cantato" type="xs:boolean"/>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="incipt" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="voti_ricevuti" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="printByCat">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="printByCatResponse">
<xs:sequence>
<xs:element name="return" type="tns:canzone" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="printByVotes">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="printByVotesResponse">
<xs:sequence>
<xs:element name="return" type="tns:canzone" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCanzone">
<xs:sequence>
<xs:element name="arg0" type="tns:canzone" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCanzoneResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateCanzone">
<xs:sequence>
<xs:element name="arg0" type="tns:canzone" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCanzoneResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeCanzone">
<xs:sequence>
<xs:element name="arg0" type="tns:canzone" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCanzoneResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="printAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="printAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:canzone" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>